
header{
    width: 100vw ;
  
}

body{
    overflow-x: hidden;
}

.brand{
    width: 10%;
    text-align: center;
}

.search-bar{
    width: 80%;
    text-align: center;
    position: relative;
   
    /* display: inline-block; */
}

.search-bar .icon {

    position: absolute;
    top: 8px;
    left: 24%;
    width: 14px;
    color: grey;
  
}



.search-bar input{

    outline: none;
    width: 54%;
    /* text-align: center; */
    
    
}


.cart{
    width: 10%;
    text-align: center;
}

/* For Footer Component CSS */

/* .footer{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: aqua;
    
} */






